* {
  font-family: 'Inter', sans-serif !important;
}

html {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  padding: 1.2rem;
  margin-left: auto;
  margin-right: auto;
}

footer {
  margin: 110px 0px 78px;
  font-size: 2vh;
  font-weight: 500;
  line-height: 3.5vh;
}

.hero {
  margin: 110px 0px 100px;
}

.heroHeading {
  font-weight: 800;
  font-size: 7vh;
  margin-bottom: 0.8rem;
}

.heroSub {
  margin: 0;
  font-size: 3vh;
}

.example {
  display: flex;
  align-items: center;
  margin-bottom: 4rem;
}

.chat {
  flex: 0 0 auto;
  width: 40%;
  height: 335px;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 6px 20px 0px #ebebeb;
}

.chat-2 {
  height: 192px;
}

.conversation {
  width: 100%;
}

.exampleContent {
  flex: 0 0 auto;
  width: 60%;
  margin-left: 2rem;
}

.exampleHeading {
  font-size: 4.5vh;
  font-weight: 700;
  margin: 0;
  margin-bottom: 1rem;
}

.exampleSub {
  font-size: 2vh;
  margin: 0;
}

.not {
  color: red;
  font-weight: 800;
}

.likethis {
  color: green;
  font-weight: 800;
}

.chatDetails {
  margin: 1rem 0.5rem 1rem;
}

.chatMsg {
  display: flex;
  padding-left: 0.5rem;
}

.chatMsg:hover {
  background: #f7f7f7;
}

.chatPfp {
  margin-left: 1rem;
  margin-top: 0.7rem;
  margin-bottom: 0.5rem;
}

.Pfp {
  border-radius: 50%;
  height: 55px;
  width: 55px;
}

.sender {
  font-weight: 700;
  font-size: 2vh;
}

.when {
  margin-left: 0.4rem;
  font-size: 1.45vh;
  position: relative;
  top: -1.3px;
}

.message {
  position: relative;
  top: 3px;
}

.link {
  color: #006dff;
}

.mobileText {
  display: none;
}

hr {
  margin-bottom: 2rem;
}

@media (max-width:1021px)  {
  .example {
    display: flex;
    flex-flow: column;
  }

  .mobileText {
    display: inline-block;
  }

  .exampleContent {
    width: 100%;
    margin-left: 0;
  }

  .chat {
    width: 100%;
    margin-bottom: 2rem;
    margin-top: 2rem;
    margin-left: 0;
    order: 2;
  }
}